/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:wght@100&display=swap');
body{
    font-family: 'Fredoka',sans-serif;
    background-color: #cce7e8 !important;
}
.contact-img{
    width: 150px;
    border-radius: 50%;
}
contact-img-details{
    width: 150px;
    border-radius: 50%;
    
}

